#title {
    font-family: sans-serif;
    color: #1d3557;
    text-align: center;
}

#description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1d3557;
    text-align: center;
}

fieldset {
    border: 50;
}

body {
    background-color: #f1faee;
    font-family: sans-serif;
    font-size: 1em;
    color: #457b9d;
    margin-left: 20rem;
    margin-right: 20rem;
    justify-content: center;
}

.form-group input {
    border-radius: 5px;
    max-width: 80em;
}