@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

#title {
    color: #081c15;
    text-align: center;
}

#description {
    color: #081c15;
    text-align: center;
}

#survey-form {
    background-color: #d8f3dc;
}

.form-label input {
    display: flex;
    border-radius: 5px;
    max-width: 80em; 
    margin: 5px 0 5px 0;
}

fieldset {
    border: 50;
    border-radius: 10px;
}

body {
    font-family: sans-serif;
    font-size: 1em;
    color: #2d6a4f;
    margin-left: 20rem;
    margin-right: 20rem;
    justify-content: center;
}

.form-group input {
    border-radius: 5px;
    max-width: 80em;
}

